openapi: 3.0.3
info:
  title: sms_kakao_server API
  version: 1.0.0
  description: |
    플랫큐브 문자/카카오 발송 API 문서입니다.

    ## 기본 정보
    - 모든 API 기본 경로는 `/api/v1` 입니다.
    - 운영/개발 서버 URL은 하단 `Servers` 항목에서 확인할 수 있습니다.
    - 발송 API 인증은 요청 body의 `clientCode`와 `apiKey`로 검증합니다.
    - 사용자 인증 API와 일부 조회 API는 로그인 후 발급받은 `accessToken`을 사용합니다.

    ## 이용 순서
    1. `POST /client/auth/user-signup` 으로 외주사 계정과 클라이언트를 생성합니다.
    2. 생성한 계정으로 `POST /client/auth/user-login` 으로 로그인합니다.
    3. `GET /client/auth/user-me` 로 내 정보와 `apiKey`를 확인합니다.
    4. 메시지 발송 API 호출 시에는 body에 `clientCode`와 `apiKey`를 함께 전달합니다.

    ## 주요 경로
    - 회원가입: `POST /api/v1/client/auth/user-signup`
    - 로그인: `POST /api/v1/client/auth/user-login`
    - 내 정보 조회: `GET /api/v1/client/auth/user-me`
    - 문자 발송: `POST /api/v1/client/messages/send`
    - 문자 예약 발송: `POST /api/v1/client/messages/schedule`
    - 카카오 발송: `POST /api/v1/client/kakao/send`
    - 카카오 예약 발송: `POST /api/v1/client/kakao/schedule`
    - 카카오 템플릿 목록: `GET /api/v1/client/kakao/templates`
servers:
  - url: https://message.platcube.com
    description: deploy
tags:
  - name: System Kakao
    description: 시스템 운영용 카카오 발신프로필/템플릿 관리 API
  - name: Client Auth
    description: 외주업체 사용자 인증 API
  - name: Client Messages
    description: 외주사 메시지 발송 API
  - name: Client Kakao
    description: 외주사 카카오 알림톡 발송 API
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
  schemas:
    CommonError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: COMMON_400_VALIDATION
        message:
          type: string
          example: Request validation failed
        details:
          nullable: true
    CommonSuccess:
      type: object
      required:
        - success
        - data
        - error
      properties:
        success:
          type: boolean
          example: true
        data:
          nullable: true
        error:
          nullable: true
paths: {}
